[Unit]
Description=ezy.service - Ezy web app server startup file
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Ezy_urlShortner/
Environment=EZYUSER=isaac
Environment=EZYPWD=0000
ExecStart=/usr/bin/gunicorn --workers 3 --error-logfile /tmp/ezy-error.log --access-logfile /tmp/ezy-access.log --bind 0.0.0.0:5000 app.web_app:app

[Install]
WantedBy=multi-user.target
