# These commands should be executed outside of the Python virtual environment
# Use them to install necessary system libraries for MySQL or MariaDB support

# Install libmysqlclient-dev
# You can use this for MySQL support
# sudo apt-get install libmysqlclient-dev

# Install libmariadbclient-dev
# You can use this for MariaDB support
# sudo apt-get install libmariadbclient-dev

# Install flask-swagger utils and ensure setuptools are available
# pip install -U setuptools
# sudo apt-get install -y python3-lxml
# sudo pip3 install flasgger
# install gunicorn
# sudo apt install gunicorn 

Flask
Flask-Cors
flasgger
SQLAlchemy==1.4.23
mysqlclient==2.1.0
qrcode==6.1
bcrypt
pyasn1
google-auth
pyotp
