<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Transform Long Links into Compact, Shareable, and Memorable URLS</title>
    <link type="text/css" rel="stylesheet" href="../static/styles/homepage_responsive.css?{{ cache_id }}">
    <link type="text/css" rel="stylesheet" href="../static/styles/homepage.css?{{ cache_id }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link type="text/css" href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js?{{ cache_id }}"></script>
    <script type="text/javascript" src="../static/scripts/homepage.js?{{ cache_id }}"></script>
    <link rel="icon" href="../static/images/ezy_icon.jpg?{{ cache_id }}">
    <body>
        <div class="loader-container">
            <div class="loader"></div>
        </div>
        <header>
            <h1>EZYURL</h1>
            <div class="information">
		        <a class="about" href="{{ url_for('about') }}?{{ cache_id }}"> About</a>
                <a class="blog" href="">Blog</a>
                <a class="login" href="">Login</a>
                <a class="sign_up" href="">Sign up</a>
		        <a class="history">History</a>
                <div class="history_list">
                    <div class="history_items">
                        <span class="h-close-button">&times;</span><br><br>
			<div class="view_history">
			<ul class="long-url-history">
			</ul>
			</div>
                    </div>
                </div>
            </div>
        <button class="menu-button">&#9776;</button>
        <div class="cover-up">
            <div class="cover-up-content">
                <span class="close-button">&times;</span>
                <div class="menu-information">
                    <ul>
			            <li><a class="about" href="{{ url_for('about') }}?{{ cache_id }}"> About</a></li>
                        <li><a class="blog" href="">Blog</a></li>
                        <li><a class="home" href="">Home</a></li>
                        <li><a class="history"> History</a></li>
                        <div class="history_list">
                            <div class="history_items">
                                <span class="h-close-button">&times;</span><br><br>
                                <div class="view_history">
                                    <ul class="long-url-history">

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="mobile_user">
                            <a class="login" href=""><button>Login</button></a>
                            <a class="sign_up" href=""><button>Sign up</button></a>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        </header>
        <section class="user_interface">
            <h1>
                Streamline Your Links With <b class="e">EZYURL</b> Shortener
            </h1>
            <h4>
                Transform Long Links into Compact, Shareable, and Memorable <br>URLS with Our Cutting-Edge URL Shortening Service
            </h4>
            <form method="POST" action="/" id="url_form">
                <div class="background">
		<label class="label_user_input" for="user_input">{{word}}</label>
                <br>
                <input autofocus="true" name="user_input" id="user_input" placeholder="Enter long link here" type="text" required="true">
                <br>
		<label class="label_user_output" for="user_output">{{alias_status}}</label>
                <br>
                <input name="user_output" maxlength="50" type="text" readonly="true" id="user_output" value="{{url}}">
                <br>
                <input type="submit" value="Shorten" class="enter">
                </div>
                </form>
		<div class="share">
		    <input type="button" class="alias" value="ALIAS">
		    {% if status == 200 %}
	            <button class="copy_">COPY</button>
	            <button class="qr_code">QR</button>
	            {% endif %}
	        </div>

        </section>
	<div id="qr_container">
		<img id="qrCodeImage" src="../static/images/qr_images/{{qr_image}}">
		<div class="something">
			<button id="downloadButton"><a href="../static/images/qr_images/{{qr_image}}" download="Ezyqr.png">Download</a>
			</button>
			<button id="cancelButton">Cancel</button>
		</div>
	</div>
    <footer>
        <a href="{{ url_for('about') }}?{{ cache_id }}"> About</a> &bull;
	<a href="" target="_blank"> Api </a> &bull;
        <a href="https://github.com/Bigizic/Ezy_urlShortner/blob/main/LICENSE" target="_blank">licence </a> &bull;
        <a href="https://www.github.com/Bigizic/Ezy_UrlShortner" target="_blank">Github</a> &bull;
	<a href="mailto:Olalekanisaac75@gmail.com"> &copy; 2023</a>
    </footer>
    </body>
</html>


