body {
    height: 100%;
    background: rgb(19,20,24);
    background: linear-gradient(180deg, rgba(19,20,24,1) 42%, rgba(0,100,0,1) 76%);
    font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: #fff;
}

/*OTHER DEVICES */

.menu-button {
    border: none !important;
}

.cover-up {
    width: 0%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #131313;
    transition: 0.5s;
    padding-top: 60px;
}
.cover-up-content {
    padding: 20px;
    color: white;
}

/* END OTHER */

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(19,20,24);
    background: linear-gradient(180deg, rgba(19,20,24,1) 20%, rgba(0,100,0,1) 50%, rgba(19,20,24,1) 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    display: none; /* Initially hidden */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.container {
    display: flex;
    align-items: stretch;
}


/* left bar contents */
.left-sidebar {
    background: #8888;
    flex: 0 0 18%; /* adjust left-sidebar width */
    padding: 20px;
    margin: 10px 10px 10px 0px;
    border-radius: 10px;
    display: grid;
    height: 88vh;
    position: fixed;
    width: 18%;
}

.user-info {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: grid;
    align-items: end;
    justify-self: flex-start;
    width: 100%;
}

.user-details {
    display: flex;
    overflow: hidden;
}

.user-information {
    background-color: #8888;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 10px 0px 0px;
}

.user-name {
    width: 21%;
    margin: 10px 0px;
    cursor: pointer;
}
.logout {
    background-color: #006400;
    text-align: center;
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.logout:hover {
    background-color: #004700;
}

.left-items {
    list-style-type: none;
    padding: 0px;
}
.left-items-li, .left-items-lii, .left-items-liii, .left-items-lix, .left-items-lx, .left-items-lxi {
    padding: 10px 0px 10px 10px;
    margin: 20px 0px 20px 0px;
    width: 90%;
    border-radius: 10px;
    transition: transform 0.5s ease;
}
.left-items-li:hover, .left-items-lii:hover, .left-items-liii:hover, .left-items-lix:hover, .left-items-lx:hover, .left-items-lxi:hover {
    background: black;
    transform: scale(1.1);
}

.left-items-lix:active {
    background: black;
    transform: scale(1.1);
}

.hover-effect {
    background: black;
    transform: scale(1.1);
}
.mobile-class {
        background: white !important;
        transform: scale(1.1);
        color: #006400 !important;
}

.short-links {
    list-style-type: none;
    padding: 2px;
    display: none;
}

.left-items-lii {
    position: relative;
  }
  
  .left-items-lii sup {
    font-size: 12px;
    color: grey;
    font-weight: 550;
  }

/* end left bar contents */


/* right bar content */
.right-sidebar {
    text-align: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 20%;
}

.main-content h1 {
    color: #fff;
    cursor: pointer;
    font-family: 'Black Ops One';
    font-size: 2.5rem;
}
.main-content h1:hover {
    color: #006400;
}
.main-content h3 {
    font-size: x-large;
    font-family: initial;
}

.e {
    color: #006400;
    transition: color 0.3s ease;
    cursor: pointer;
}
.label_user_input, .label_user_output {
    color: red;
}

.user_interface {
	flex: 1.1;
}

.user_interface h1 {
    color: #fff;
}
.user_interface h4 {
    color: #ADAEAF;
    text-align: center;
    font-size: small;
}

.viewers_graph {
	/*width: -webkit-fill-available;
	width: -moz-available;*/
	width: 30rem;
}

footer {
    background-color: inherit;
    width: 100%;
    display: flex;
    justify-items: center;
    text-transform: capitalize;
    padding: 2vh 0vh 2vh 0vh;
    justify-content: center;
    gap: 2.5vw;
}
footer a {
    text-decoration: none;
    color: #fff;
    font-size: small;
}
footer a:hover {
    color: #131313;
}
/* end right bar content */





.left-items-lii a, .left-items-li a, .left-items-lix a, .left-items-lx a, .left-items-liii a, .left-items-lxi a {
    text-decoration: none;
    color: inherit;
}

/* TABLE VIEW */

.responsive-table {
  padding: 0px;
}
#table {
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  margin: 5% 5% 0% 5%;
  transform: translateX(0%);
  background: #8888;
}

.responsive-table li {
    border-radius: 3px;
    padding: 10px 25px 10px 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.table-header {
    background-color: #006400;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    border-radius: 20px !important;
    font-weight: 900;
}
.table-row {
    background-color: #2b2b2b;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    transition: 0.5s ease;
    border-radius: 20px !important;
}
.table-row a {
    color: lightgreen;
}
  
.table-row:hover {
    transform: scale(1.02);
}
.table-row:hover a:hover {
    color: green;
}

.col-1 {
    flex-basis: 10%;
}
.col-2 {
    flex-basis: 25%;
}
.col-3 {
    flex-basis: 40%;
    width: 0px;
    overflow-wrap: break-word;
}
.col-4 {
    flex-basis: 30%;
}
.col-5 {
    flex-basis: 10%;
}


/* MOBILES */  
@media all and (max-width: 767px) {
	#table {
		font-size: 14px !important;
	}
	.table-header {
		display: none !important;
	}
	.table-row {
		box-shadow: 0px 0px 9px 0px #8888;
	}
	li {
	        display: block !important;
	}
	.col {
		flex-basis: 100%;
	}
	.col {
		display: flex;
		padding: 10px 0;
		&:before {
			color: #6C7A89;
			padding-right: 10px;
			content: attr(data-label);
			flex-basis: 50%;
			text-align: right;
		}
	}
	.col-3 {
            flex-basis: 20% !important;
            width: 100% !important;
            display: block !important;
        }
        .col-5 {
            flex-basis: 20%;
        }
        .viewers_graph {
		width: -webkit-fill-available;
		/*width: -moz-available;*/
	}
}

/*END TABLE VIEW */

/* START SEARCH ICON */

.search_container {
margin-top: 5%;
}


#app-cover {
  /*position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 434px;*/
  margin: -41px auto 0 auto;
}

#app {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 120px;
  margin: 0 auto;
  transition: 0.4s ease width;
  z-index: 2;
}

form {
  position: relative;
  height: 50px;
  cursor: auto;
  border-radius: 120px;
}

#f-element {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  border-radius: 120px;
}

#inp-cover {
  position: absolute;
  top: 0;
  right: 27px;
  bottom: 0;
  left: 0;
  padding: 0 25px;
  background-color: #fff;
}

input {
  display: block;
  width: 100%;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  border: 0;
  padding: 15px 0;
  margin: 0;
  margin-top: 52px;
  line-height: 1;
  background-color: transparent;
  transition: 0.15s ease margin-top;
  cursor: auto;
  outline: none;
}

button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  color: #fff;
  /*padding: 26px;*/
  margin: 0;
  border: 2px solid #fff;
  background-color: #888;
  transition: 0.5s ease;
  border-radius: 120px;
  font-size: 0px;
  cursor: pointer;
}

button.shadow {
  /*box-shadow: 0 10px 30px black;*/
}
  /*box-shadow: 0 10px 30px black;*/
}

button i.fas {
  display: block;
  line-height: 1;
}

#app.opened {
  width: 80%;
  box-shadow: 0 10px 30px black;
}

.opened input.move-up {
  margin-top: 0;
}

.opened button {
  background-color: #888;
  box-shadow: none;
  cursor: pointer;
}

#app.opened + #layer {
  width: 4000px;
  height: 4000px;
  margin-top: -2000px;
  opacity: 1;
  z-index: 0;
}

#app.opened ~ #init {
  z-index: -1;
}


.shadow:hover {
  background: black;
  transform: scale(1.1);
}

#short_, #long_ {
      color: #fff;
      background-color: #006400;
      border-radius: 20px;
      font-size: inherit;
      display: initial;
      width: fit-content;
      font-family: revert;
      padding: 5px 10px;
      cursor: pointer;
      border: 2px solid #fff;
      line-height: inherit;
      margin: 22px 0px 22px 0px;
}

.bin {
    font-size: larger;
    cursor: pointer !important;
}

.bin a {
    text-decoration: none;
    color: #fff;
}
.delete-btn {
    background-color: inherit !important;
    border: none !important;
    margin-top: 0 !important;
    padding: 0% !important;
    display: initial !important;
    width: 0% !important;
    position: inherit !important;
    height: 0px !important;
    color: #fff !important;
    font-size: inherit !important;
}

.table-row:hover .delete-btn:hover {
    color: green !important;
}


/* END SEARCH */


















/* BEGIN EDIT FILE */

.bi-pen-fill:hover {
	color: #006400;
}

.editlink_form {
	background-color: #004700;
	position: fixed;
	top: 25%;
	height: 15rem;
	left: 50%;
	transform: translateX(-50%);
	padding: 40px;
	border-radius: 8px;
	display: flex;
	z-index: 2;
}

.submit_and_cancel {
	margin-top: 1rem;
	display: flex;
	gap: 10rem;
}

#pass_save, #pass_cancel {
	border-radius: 4px !important;
	height: 30px !important;
	background-color: #006400 !important;
	color: white !important;
	transform: translateX(0%) !important;
	cursor: pointer !important;
	border: 2px solid #fff !important;
	text-align: center;
	font-size: revert;
	padding: revert;
}

#long_link, #short_link {
  width: 90%;
  border: none;
  outline: none;
  height: 2rem;
  background: #8888;
  border-radius: 4px;
  color: #fff;
  font-size: medium;
  font-weight: 550;
  padding: 0 20px 0 10px;
  position: relative;
  margin-top: 1rem;
}


#status_link {
	font-size: large;
}



/* END EDIT FILE */
