html {
    height: 100%;
}

body {
    height: 100%;
    background: rgb(19,20,24);
    background: linear-gradient(180deg, rgba(19,20,24,1) 42%, rgba(0,100,0,1) 76%);
    font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: #fff;
}

.menu-button {
    border: none !important;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(19,20,24);
    background: linear-gradient(180deg, rgba(19,20,24,1) 20%, rgba(0,100,0,1) 50%, rgba(19,20,24,1) 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    display: none; /* Initially hidden */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.container {
    display: flex;
    align-items: stretch;
}


/* left bar contents */
.left-sidebar {
    background: #8888;
    flex: 0 0 18%; /* adjust left-sidebar width */
    padding: 20px;
    margin: 10px 10px 10px 0px;
    border-radius: 10px;
    display: grid;
    height: 88vh;
    position: fixed;
    width: 18%;
}

.user-info {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: grid;
    align-items: end;
    justify-self: flex-start;
    width: 100%;
}

.user-details {
    display: flex;
    overflow: hidden;
}

.user-information {
    background-color: #8888;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 10px 0px 0px;
}

.user-name {
    width: 21%;
    margin: 10px 0px;
    cursor: pointer;
}
.logout {
    background-color: #006400;
    text-align: center;
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.logout:hover {
    background-color: #004700;
}

.left-items {
    list-style-type: none;
    padding: 0px;
}
.left-items-li, .left-items-lii, .left-items-liii, .left-items-lix, .left-items-lx, .left-items-lxi {
    padding: 10px 0px 10px 10px;
    margin: 20px 0px 20px 0px;
    width: 90%;
    border-radius: 10px;
    transition: transform 0.5s ease;
}
.left-items-li:hover, .left-items-lii:hover, .left-items-liii:hover, .left-items-lix:hover, .left-items-lx:hover, .left-items-lxi:hover {
    background: black;
    transform: scale(1.1);
}

.left-items-li:active {
    background: black;
    transform: scale(1.1);
}

.hover-effect {
        background: black;
        transform: scale(1.1);
        /*color: #006400 !important;*/
}

.mobile-class {
        background: white !important;
        transform: scale(1.1);
        color: #006400 !important;
}

.short-links {
    list-style-type: none;
    padding: 2px;
    display: none;
}

.left-items-lii {
    position: relative;
  }
  
  .left-items-lii sup {
    font-size: 12px;
    color: grey;
    font-weight: 550;
  }

/* end left bar contents */


/* right bar content */
.right-sidebar {
    text-align: center;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 20%;
}

.main-content {
    color: #fff;
    cursor: pointer;
    font-family: 'Black Ops One';
    font-size: 2.5rem;
}
.main-content:hover {
    color: #006400;
}

.e {
    color: #006400;
    transition: color 0.3s ease;
    cursor: pointer;
}
.label_user_input, .label_user_output {
    color: red;
}

.user_interface {
	flex: 1.1;
}

.user_interface h1 {
    color: #fff;
}
.user_interface h4 {
    color: #ADAEAF;
    text-align: center;
    font-size: small;
}

.user_interface form {
    border-radius: 20px;
    background: inherit;
    text-align: center;

    width: 80%;
    flex-shrink: 0;
    margin-left: 10%;
}

#user_input, #user_output {
    width: 70%;
    height: 50px;
    border-radius: 4px;
    background-color: #44494D;
    border: none;
    color: white;
    margin-bottom: 3%;
    padding: 0% 1.5% 0% 1.5%;
    font-size: medium;
}

#user_input:focus, #user_output:focus {
    border: 1px solid black !important;
    outline: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2)
}

#user_input, #user_output {
    border-radius: 10px !important;
}

section form label {
    color: #fff;
    font-size: smaller;
    font-style: italic;
    display: block;
}

.enter {
    background-color: #006400;
    border-radius: 8px;
    width: 73%;
    color: #fff;
    height: 2.5rem;
    border: none;
    font-size: 100%;
    margin-bottom: 3%;
    font-family: 'Black Ops One';
}

.enter {
    background-color: #006400 !important;
}

.enter:hover {
    background-color: #131418 !important;
}

.share {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    /*visibility: hidden;*/
}




#qr_container, #share_container {
	background-color: #004700;
	position: absolute;
	top: 25%;
	height: max-content;
	display: none;
	left: 50%;
	transform: translateX(-50%);
	padding: 20px;
	border-radius: 4px;
	z-index: 1;
}

#share_container {
	top: 45% !important;
	right: 10% !important;
	width: max-content;
}

#cancelButton {
	width: 20%;
	border-radius: 4px;
	height: 30px;
	background-color: #006400;
	color: white;
	transform: translateX(0%);
	cursor: pointer;
}

#downloadButton {
	width: fit-content;
        border-radius: 4px;
        height: 30px;
        background-color: #006400;
        color: white;
        cursor: pointer;
}
#downloadButton a {
	text-decoration: none;
	color: white;
}

.alias, .copy_, .qr_code, .b_share {
    background-color: #006400;
    color: aliceblue;
    border-radius: 4px;
    border: none;
    margin-bottom: 1vh;
    height: fit-content;
    padding: 4px;
    transition: transform 0.5s ease;
    font-weight: 550;
    font-size: inherit;
}
.alias:hover, .copy_:hover, .qr_code:hover, .b_share:hover {
    background-color: #131418;
    transform: scale(1.2);
}
div .something {
    display: flex;
    justify-content: center;
    gap: 50%;
}


footer {
    background-color: inherit;
    width: 100%;
    display: flex;
    justify-items: center;
    text-transform: capitalize;
    padding: 2vh 0vh 2vh 0vh;
    justify-content: center;
    gap: 2.5vw;
}
footer a {
    text-decoration: none;
    color: #fff;
    font-size: small;
}
footer a:hover {
    color: #131313;
}
/* end right bar content */





/*ICONS*/
.dashboard_icon, .howtouse_icon, .editlinks_icon, .history_icon, .profile_icon, .api_icon  {
	background-image: url("/static/images/icons/dashboard_house_fill.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 16px;
	height: 16px;
	display: inline flow-root list-item;
	filter: invert(1);
}
.howtouse_icon {
    background-image: url("/static/images/icons/person-workspace.svg") !important; 
}
.editlinks_icon {
    background-image: url("/static/images/icons/link-45deg.svg") !important; 
}
.history_icon {
    background-image: url("/static/images/icons/hourglass-bottom.svg") !important; 
}
.profile_icon{
    background-image: url("/static/images/icons/person-fill.svg") !important; 
}
.api_icon {
    background-image: url("/static/images/icons/api_code_slash.svg") !important; 
}

.left-items-lii a, .left-items-li a, .left-items-lix a, .left-items-lx a, .left-items-liii a, .left-items-lxi a {
    text-decoration: none;
    color: inherit;
}


/* END icons */



#facebook, #instagram, #snapchat, #x, #whatsapp, #telegram, #share_copy {
	background: url('/static/images/gifs/facebook.gif');
	background-repeat: repeat;
	background-size: auto;
	background-repeat: no-repeat;
	width: 2rem;
	height: 2rem;
	background-size: 100%;
	border: none;
	border-radius: 10px;
	margin-right: 0.5rem;
	cursor: pointer;
}

#instagram {
	background: url('/static/images/gifs/instagram.gif')!important;
	background-size: 100% !important;
}

#snapchat {
	background: url('/static/images/gifs/snapchat.gif')!important;
	background-size: 100% !important;
}

#x {
	background: url('/static/images/gifs/x.png')!important;
	background-size: 100% !important;
}

#whatsapp {
	background: url('/static/images/gifs/whatsapp.gif')!important;
	background-size: 100% !important;
}

#telegram {
	background: url('/static/images/gifs/telegram.gif')!important;
	background-size: 100% !important;
}

#share_copy {
	background: url('/static/images/gifs/copy.gif')!important;
	background-size: 100% !important;
}

#cancel-Button {
    display: inline-flex;
    vertical-align: super;
    background: none;
    font-weight: 900;
    font-size: medium;
    border: none;
    cursor: pointer;
    color: black;
}
