
/*LARGE TABLETS/LAPTOPS */
@media (min-width: 992px) and (max-width: 1199px) {
	header {
		display: flex;
                align-items: center;
                justify-content: space-between
	}

	header h1 {
		color: aliceblue;
                line-height: normal;
                white-space: nowrap;
                margin-left: 2rem;
	}
	header .information {
                display: inline-flex;
                gap: 6vw;
                margin-right: 10vw;
        }
	section h1 {
                color: #fff;
                text-align: center;
                /*margin-top: 2rem;*/
        }
	.user_interface {
		min-width: 992px;
		max-width: 1199px;
	}

	#user_input, #user_output {
                width: 70%;
                height: 50px;
                border-radius: 4px;
                background-color: #44494D;
                border: none;
                color: white;
                margin-bottom: 4%;
                padding: 0% 1.5% 0% 1.5%;
		font-size: medium;
        }
	.enter {
                background-color: #006400;
                border-radius: 8px;
                width: 73%;
                color: #fff;
                height: 2rem;
                border: none;
                font-size: 100%;
                margin-bottom: 3%;
        }
	#qrCodeImage {
		transform: translateX(0%);
	}
        header .menu-button {
                display: none;
        }
        .cover-up {
                display: none;
                width: 0px;
                height: 0px;
        }
        .cover-up-content {
                display: none;
        }

}

/* EXTRA LARGE SCREENS */
@media (min-width: 1920px) {
	header {
                display: flex;
                align-items: center;
                justify-content: space-between;
        }

        header h1 {
                color: aliceblue;
                line-height: normal;
                white-space: nowrap;
                margin-left: 2rem;
        }
        header .information {
                display: inline-flex;
                gap: 6vw;
                margin-right: 10vw;
        }
        section h1 {
                color: #fff;
                text-align: center;
                /*margin-top: 2rem;*/
        }
        .user_interface {
                min-width: 1200px;
                max-width: 1919px;
        }
        /*.background {
                margin-left: 20%;
        }*/
	#user_input, #user_output {
                width: 70%;
                height: 50px;
                border-radius: 4px;
                background-color: #44494D;
                border: none;
                color: white;
                margin-bottom: 4%;
                padding: 0% 1.5% 0% 1.5%;
		font-size: medium;
        }
        .enter {
                background-color: #006400;
                border-radius: 8px;
                width: 73%;
                color: #fff;
                height: 2rem;
                border: none;
                font-size: 100%;
                margin-bottom: 3%;
        }
	#qrCodeImage {
                transform: translateX(0%);
        }
        header .menu-button {
                display: none;
        }
        .cover-up {
                display: none;
                width: 0px;
                height: 0px;
        }
        .cover-up-content {
                display: none;
        }
}


/* DESKTOPS */
@media (min-width: 1200px) and (max-width: 1919px) {
	header {
		display: flex;
                align-items: center;
                justify-content: space-between;
	}

	header h1 {
		color: aliceblue;
		/*color: #006400;*/
		line-height: normal;
		white-space: nowrap;
		margin-left: 2rem;
	}
	header .information {
		display: inline-flex;
		gap: 6vw;
                margin-right: 10vw;
	}
	section h1 {
		color: #fff;
		text-align: center;
		/*margin-top: 2rem;*/
	}
	.user_interface {
		min-width: 1200px;
		max-width: 1919px;
	}
	/*.background {
		margin-left: 20%;
	}*/
 	#user_input, #user_output {
		width: 70%;
		height: 50px;
		border-radius: 4px;
		background-color: #44494D;
		border: none;
		color: white;
		margin-bottom: 3%;
		padding: 0% 1.5% 0% 1.5%;
		font-size: medium;
	}
	.enter {
		background-color: #006400;
		border-radius: 8px;
		width: 73%;
		color: #fff;
		height: 2rem;
		border: none;
		font-size: 100%;
		margin-bottom: 3%;
	}
	#qrCodeImage {
                transform: translateX(0%);
        }
        header .menu-button {
                display: none;
        }
        .cover-up {
                display: none;
                width: 0px;
                height: 0px;
        }
        .background .alias {
                background-color: #006400;
                color: aliceblue;
                border-radius: 4px;
                border: none;
                margin-bottom: 1vh;
		padding: 4px;
        }
        footer {
                gap: 5vw;
        }

}

/* MOBILE */
@media (max-width: 480px) {
	html {
		height: 100%;
	}
	body {
		margin: 0px;
	}
	header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 0%;
        }
	header h1 {
                color: aliceblue;
                line-height: normal;
                white-space: nowrap;
                margin-left: 2rem;
                font-size: 8vw !important;
                display: none !important;
        }
	header .information {
                display: none;
        }
        header .menu-button {
                background-color: inherit;
                color: #006400;
                /*margin-left: 1rem;*/
                width: fit-content;
                height: fit-content;
                border-radius: 4px;
                font-size: 40px;
                font-weight: 900;
        }
        header .menu-button:hover {
                color: #fff;
                transition: 0.5s;
        }
        .cover-up {
                width: 0%;
                height: 100vh;
                position: fixed;
                top: 0;
                right: 0;
                background-color: #131313;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 60px;
        }
        .cover-up-content {
                padding: 20px;
                color: white;
        }
        .close-button {
                cursor: pointer;
                color: white;
                background-color: inherit;
                width: fit-content;
                height: fit-content;
                font-size: 40px;
                font-weight: bolder;
                position: absolute;
                right: 6vw;
                top: 4vw;
                border-radius: 4px;
                text-align: center;
        }
        .close-button:hover {
                color: #131313;
        }
	.menu-information a {
		font-size: 5vw;
                text-decoration: none;
	}
        .menu-information ul {
                list-style-type: none;
                margin-top: 10vw;
        }
        .menu-information li {
                border-bottom: solid;
        }
        section h1 {
                text-align: center;
                /*margin-top: 2rem;
		font-size: x-large !important;*/
		display: none !important;
        }
        .mobile_h1 {
        	display: block !important;
        	font-size: xxx-large;
        	transition: transform 0.5s ease;
        	cursor: pointer;
        }
        .mobile_h1:hover {
        	color: #006400;
        	transform: scale(1.2);
        }

	.user_interface {
                max-width: 480px;
                display: block !important;
                margin-top: 100px;
        }
	section form label {
                color: #fff;
                font-size: 10px;
        }
        section form {
        	margin-left: 10%
        }
        #user_input, #user_output {
                width: 90%;
                height: 3rem;
                border-radius: 20px !important;
                background-color: #45494C;
                border: none;
                color: white;
                padding: 0% 2% 0% 4%;
                margin-bottom: 4%;
		font-size: medium;
        }
        
        .enter {
                background-color: #006400;
                border-radius: 20px !important;
                width: 86%;
                color: #fff;
                height: 2.5rem;
                border: none;
                font-size: 100%;
                margin-bottom: 5%;
        }
        .background .alias {
                height: fit-content;
                background-color: #006400;
                color: aliceblue;
                border-radius: 4px;
                border: none;
                margin-bottom: 1vh;
		padding: 4px;
        }
        
        .img_desktop {
        	display: none !important;
        }
        footer {
                gap: 2vw;
                position: absolute;
                bottom: 0px;
        }
}

/* SMALL TABLETS */

@media (min-width: 768px) and (max-width: 991px) {
	html {
		height: 100%;
	}
	body {
		margin: 0px;
	}
	header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 0%;
        }
	header h1 {
                color: aliceblue;
                line-height: normal;
                white-space: nowrap;
                margin-left: 2rem;
                font-size: 5vw !important;
                display: none !important;
        }
	header .information {
                display: none;
                /*display: inline-flex;
                gap: 10vw;
                margin-top: 0%;*/
        }
        header .menu-button {
                background-color: inherit;
                color: #006400;
                /*margin-left: 1rem;*/
                width: fit-content;
                height: fit-content;
                border-radius: 4px;
                font-size: 40px;
                font-weight: 900;
        }
        header .menu-button:hover {
                color: #fff;
                transition: 0.5s;
        }
        .cover-up {
                width: 0%;
                height: 100vh;
                position: fixed;
                top: 0;
                right: 0;
                background-color: #131313;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 60px;
        }
        .cover-up-content {
                padding: 20px;
                color: white;
        }
        .close-button {
                cursor: pointer;
                color: white;
                background-color: inherit;
                width: fit-content;
                height: fit-content;
                font-size: 40px;
                font-weight: bolder;
                position: absolute;
                right: 6vw;
                top: 4vw;
                border-radius: 4px;
                text-align: center;
        }
        .close-button:hover {
                color: #131313;
        }
	.menu-information a {
		font-size: 5vw;
                text-decoration: none;
	}
        .menu-information ul {
                list-style-type: none;
                margin-top: 10vw;
        }
        .menu-information li {
                border-bottom: solid;
        }
        section h1 {
                text-align: center;
                /*margin-top: 2rem;
		font-size: x-large !important;*/
		display: none !important;
        }
        .mobile_h1 {
        	display: block !important;
        	font-size: xxx-large;
        	transition: transform 0.5s ease;
        	cursor: pointer;
        }
        .mobile_h1:hover {
        	color: #006400;
        	transform: scale(1.2);
        }

	.user_interface {
                min-width: 767px;
                max-width: 991px;
                display: block !important;
                margin-top: 100px;
        }
        /*.background {
                margin-left: 0%;
        }*/
	section form label {
                color: #fff;
                font-size: 13px;
        }
        section form {
        	margin-left: 10% !important;
        }
        #user_input, #user_output {
                width: 90%;
                height: 3rem;
                border-radius: 20px !important;
                background-color: #45494C;
                border: none;
                color: white;
                padding: 0% 2% 0% 4%;
                margin-bottom: 4%;
		font-size: medium;
        }
        
        .enter {
                background-color: #006400;
                border-radius: 20px !important;
                width: 86%;
                color: #fff;
                height: 2.5rem;
                border: none;
                font-size: 100%;
                margin-bottom: 5%;
        }
	#qrCodeImage {
                transform: translateX(0%);
        }
        .background .alias {
                height: fit-content;
                background-color: #006400;
                color: aliceblue;
                border-radius: 4px;
                border: none;
                margin-bottom: 1vh;
		padding: 4px;
        }
        .img_desktop {
        	display: none !important;
        }
        footer {
                gap: 2vw;
                position: absolute;
                bottom: 0px;
        }
}


/* EXTRA SMALL DEVICES */
@media (min-width: 481px) and (max-width: 767px) {
	html {
		height: 100%
	}
	body {
		margin: 0px;
	}
	header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 0%;
        }
	header h1 {
                color: aliceblue;
                line-height: normal;
                white-space: nowrap;
                margin-left: 2rem;
                font-size: 6vw !important;
                display: none !important;
        }
	header .information {
                display: none;
        }
	 header .menu-button {
                background-color: inherit;
                color: #006400;
                /*margin-left: 1rem;*/
                width: fit-content;
                height: fit-content;
                border-radius: 4px;
                font-size: 40px;
                font-weight: 900;
        }
        header .menu-button:hover {
                color: #fff;
                transition: 0.5s;
        }
        .cover-up {
                width: 0%;
                height: 100vh;
                position: fixed;
                top: 0;
                right: 0;
                background-color: #131313;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 60px;
        }
        .cover-up-content {
                padding: 20px;
                color: white;
        }
        .close-button {
                cursor: pointer;
                color: white;
                background-color: inherit;
                width: fit-content;
                height: fit-content;
                font-size: 40px;
                font-weight: bolder;
                position: absolute;
                right: 6vw;
                top: 4vw;
                border-radius: 4px;
                text-align: center;
        }
        .close-button:hover {
                color: #131313;
        }
	.menu-information a {
		font-size: 5vw;
                text-decoration: none;
	}
        .menu-information ul {
                list-style-type: none;
                margin-top: 10vw;
        }
        .menu-information li {
                border-bottom: solid;
        }
	section h1 {
                text-align: center;
                /*margin-top: 2rem;
		font-size: x-large !important;*/
		display: none !important;
        }
        .mobile_h1 {
        	display: block !important;
        	font-size: xxx-large;
        	transition: transform 0.5s ease;
        	cursor: pointer;
        }
        .mobile_h1:hover {
        	color: #006400;
        	transform: scale(1.2);
        }

	.user_interface {
                min-width: 481px;
                max-width: 767px;
                display: block !important;
                margin-top: 100px;
        }
        /*.background {
                margin-left: 13%;
        }*/
        section form label {
                color: #fff;
        }
        section form {
        	margin-left: 10% !important;
        }
        #user_input, #user_output {
                width: 90%;
                height: 3rem;
                border-radius: 20px !important;
                background-color: #45494C;
                border: none;
                color: white;
                padding: 0% 2% 0% 4%;
                margin-bottom: 4%;
		font-size: medium;
        }
        .enter {
                background-color: #131418;
                border-radius: 20px !important;
                width: 86%;
                color: #fff;
                height: 2.5rem;
                border: none;
                font-size: 100%;
                margin-bottom: 5%;
        }
	.menu-information a {
                font-size: 5vw;
                text-decoration: none;
        }
        .menu-information ul {
                list-style-type: none;
                margin-top: 10vw;
        }
        .menu-information li {
                border-bottom: solid;
        }
        .img_desktop {
        	display: none !important;
        }
        footer {
                gap: 2vw;
                position: absolute;
                bottom: 0px;
        }
}
