body, html {
    background: rgb(19,20,24);
    background: linear-gradient(180deg, rgba(19,20,24,1) 42%, rgba(0,100,0,1) 76%);
    font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(19,20,24);
    background: linear-gradient(180deg, rgba(19,20,24,1) 20%, rgba(0,100,0,1) 50%, rgba(19,20,24,1) 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    display: none; /* Initially hidden */
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#typing-animation {
    font-size: medium;
    color: #fff;
    font-family: 'Black Ops One';
}

section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex: 0.90;
}
section h1 {
    color: #fff;
    font-family: 'Black Ops One';
    font-size: xxx-large;
}

.first_form {
    transition: transform 0.5s ease;
}

.second_form {
    transition: transform 0.5s ease;
}

label {
    display: block;
    font-size: smaller;
}

#email_or_username, #pass, #first_name, #last_name {
    width: 90%;
    height: 2rem;
    border-radius: 10px;
    background-color: #44494D;
    border: none;
    color: white;
    margin-bottom: 4%;
    padding: 0% 5% 0% 5%;
    font-size: medium;
}

#pass {
    width: 80% !important;
    padding: 0% 12% 0% 5% !important;
}

#email_or_username:focus, #pass:focus, #first_name:focus, #last_name:focus {
    border: 1px solid black !important;
    outline: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2)
}

.enter_, .next_button {
    background-color: #006400 !important;
    width: 80%;
    height: 2rem;
    border-radius: 10px;
    border: none;
    color: white;
    margin-bottom: 10%;
    font-size: medium;
    box-sizing: content-box;
    cursor: pointer;
}
.back_button {
    background-color: #006400 !important;
    width: max-content;
    border: none;
    color: white;
    font-size: medium;
    margin-bottom: 10%;
    border-radius: 10px;
}

.enter_:hover, .next_button:hover, .back_button:hover {
    background-color: #131418 !important;
}

.enter_ {
    margin-bottom: 5% !important;
}

.g-signin2 {
    display: flex !important;
    justify-content: center !important;
}

.abcRioButtonLightBlue {
    border-radius: 10px !important;
}
.abcRioButtonLightBlue:hover {
    background-color: #131418 !important;
}


#status_code {
    background-color: #fff;
    color: black;
    height: 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px;
    max-width: 50%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-30%);
  cursor: pointer;
}

.next_button {
    position: relative !important;
}

.next_button i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-52%);
    cursor: pointer;
}

footer {
    width: 100%;
    display: flex;
    justify-items: center;
    text-transform: capitalize;
    padding: 2vh 0vh 2vh 0vh;
    justify-content: center;
    gap: 2.5vw;
}
footer a {
    text-decoration: none;
    color: #fff;
    font-size: small;
}

footer a:hover {
    color: #131313;
}
