<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="../static/styles/homepage.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js?"></script>
    <script type="text/javascript" src="../static/scripts/homepage.js"></script>
    <link rel="icon" href="../static/images/ezy_icon.jpg">
    <title>EzyUrl</title>
    <body>
        <header>
            <h1>EZYURL</h1>
            <div class="information">
                <a class="home" href="">Home</a>
                <a class="about" href=""> About us</a>
            </div>
        </header>
        <section class="user_interface">
            <h1>
                Streamline Your Links With <b style="color: #006400;">EZYURL</b> Shortner
            </h1>
            <h4>
                Transform Long Links into Compact, Shareable, and Memorable <br>URLS with Our Cutting-Edge URL Shortening Service
            </h4>
            <form method="POST" action="/">
                <div class="background">
                <label for="user_input">Long url:</label>
                <br>
                <input name="user_input" id="user_input" placeholder="Enter long link here" type="url" required="true">
                <br>
                <label class="label_user_output" for="user_output">Ezy Url:</label>
                <!--{% if url %}-->
                <br>
                <input type="url" readonly="true" id="user_output" value="{{url}}">
                <!--{% endif %}-->
                <br>
                <input type="submit" value="Shorten" class="enter">
                <button class="share">copy</button>
                </div>
                </form>
        </section>
    </body>
</html>
